{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p style="color: green">{{success}}</p>
    <table class="table table-striped">
      <tr>
        <th>Person Name</th>
        <th>ID</th>
      </tr>
      {%for person in people%}
      <tr>
        <td>{{person.name}}</td>
        <td>{{person.id}}</td>
      </tr>
      {%endfor%}
    </table>


    <script type="text/javascript">
    function move(page){window.location.href = page}</script>

    <input type="button" onclick="move('/new-person')" class="btn btn-primary" value="Add Another Person">

  </div>

{% endblock %}